💿 DroCord.lua 📦 Version : 0.2

📜 Changelock (19.08.2021 - version: 0.2)
📁 RageBot
Improved DoubleTap 🔩
Added Baim 👕
📁 Anti-Aim
Updated Static 🚶
Added Jitter 🏃
Added Custom Yaw 🔼
📁 Visual
Added ClanTag 💬 *( clantag : drocord.lua )
Added KeyBinds 📋 (Beta) screenshot - https://ibb.co/1LLxZSb
Added WaterMark 📋 (Beta) screenshot - https://ibb.co/dWNLVKC
📁 Misc
Added Configs 💾 *( configs package : /nix/drocord )
Added Accounts 👤 *( register on discord dm : droowie#4912 )
